.res(@size) when (@size=def) {
  @prefix: ~'x-col';
  .loop(24)
}

.res(@size) when not (@size=def) {
  @prefix: ~'x-col-@{size}';
  .loop(24)
}

.loop(@index) when (@index > 0) {
  @prefix: ~'x-col';

  .@{prefix}-@{index} {
    width: (1 / 24 * @index * 100) * 1%;
  }

  .@{prefix}-offset-@{index} {
    margin-left: (1 / 24 * @index * 100) * 1%;
  }

  .@{prefix}-pull-@{index} {
    position: relative;
    right: (1 / 24 * @index * 100) * 1%;
  }

  .@{prefix}-push-@{index} {
    position: relative;
    left: (1 / 24 * @index * 100) * 1%;
  }

  .loop(@index - 1);
}
