section {
  color: #3f536e;
  font-size: 14px;

  hr {
    margin: 1.2em 0;
    border: 0;
    border-bottom: 1px solid #C5D9E8;
  }

  p {
    padding: 0;
    line-height: 1.7;
    color: #3f536e;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 16px 0;
    line-height: 1.5;
  }

  h2 {
    font-size: 18px;
  }

  ul {
    margin: 16px 0;
    padding-left: 24px;
    list-style: disc;

    li {
      line-height: 1.8;
    }
  }

  pre {
    margin: 16px 0;
    padding: 16px;
    background-color: #F7F7F7;
    overflow: auto;

    code {
      padding: 0;
      font-size: 1em;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
  }

  code {
    padding: .3em .5em;
    font-size: .9em;
    vertical-align: middle;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    background-color: #F7F7F7;
  }

  code.code_inline {
    padding: 0 .5em;
  }

  img {
    vertical-align: middle;
  }

  p+p {
    margin-top: 8px;
  }

  a {
    color: #6190e8;
  }

  table.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;

    strong {
      font-weight: normal;
    }

    td,
    th {
      border-bottom: 1px solid #dcdfe6;
      padding: 15px;
      max-width: 250px;
    }

    th {
      text-align: left;
      white-space: nowrap;
      color: #909399;
      font-weight: normal;
    }

    td {
      color: #606266;
    }

    th:first-child,
    td:first-child {
      padding-left: 10px;
    }
  }

  .tip {
    padding: 8px 16px;
    background-color: #ECF8FF;
    border-radius: 4px;
    border-left: #50bfff 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, .7);
      color: #445368;
    }
  }

  .warning {
    padding: 8px 16px;
    background-color: #fff6f7;
    border-radius: 4px;
    border-left: #FE6C6F 5px solid;
    margin: 20px 0;

    code {
      background-color: rgba(255, 255, 255, .7);
      color: #445368;
    }
  }

  .demo-block {
    padding: 24px;
    border: 1px solid #e2ecf4;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    margin-top: 16px;

    .x-row+.x-row {
      margin-top: 20px;
    }

    .icon-box {
      & [class*="x-icon-"] {
        color: #606266;
        margin: 0 20px;
        font-size: 1.5em;
        vertical-align: middle;
      }
    }
  }
}
